div{
   background-color: rgb(44, 202, 202);
   border-radius:50px;}

 
   #botton{
      background-color: rgb(44, 202, 202);
      float: right;
       }

#face{
   width: 40px;
   height: 35px;
   float: right;   
}

#insta{
   width: 40px;
   height: 35px;
   float: right;
}

#wsp{
   width: 40px;
   height: 40px;
   float: right;
}
#GItHUB{
   width: 40px;
   height: 40px;
   float: right;
}

#twtl{
   width: 40px;
   height: 40px;
   float: right;}