<div class="m-2">
    <div class="row">
        <div class="col-sm-12 col-med-2 col-lg-2">
        <img src="../../../assets/yo hoy.jpeg" class="img-fluid-la_foto">
    </div>

    <div class="col-xs-12 col-sm 2 col-md 2 col-lg 2">
        <p id="nombre">Paricia Galun</p>
        <p>Full Stack Developer</p>
        <p>Asesora Nutricional</p>
        <p>Asesora en entrenamiento Funcional</p>
    </div>
    <div class="col-xs-12 col-sm 8 col-md 8 col-lg 8">
        <span>
            <h1>Acerca de mi </h1>
            <p> Soy Argentina, nacida en Bs As, relice varios cursos, no relacionados con la Programacion,
                hata que encontre mi rumbo, 
                Tengo amplios conocimientos en RR HH y Liquidacion de Sueldos,
                Tambien Secrteariado Administrativo.
            </p>
        </span>
       </div>
    </div>
