.row{
    padding: 20px;
    background-color: rgb(44, 202, 202);}

.contenedor{
    width: auto;

}

parte1, parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px blue;
margin-top:  0.5emx;
}