<div class="card mat-card">
    <div class="m-2">

<div class="row">
    <h1>Proyectos futuros</h1>
    <div class="contenedor">
        <div class= "col-sm-12 col-med-7 col-lg-7 parte1">
            <h1>Mi Pagina de Alimentacion</h1>
            <p>Todo lo que necsitas saber</p>
</div>
        <div class="col-sm-12 col-med-3 col-lg-3 offset-md-1 offset-lg-2parte2 ">
            <img src="../../../assets/alimentacion.png"
            class="img-fluid img-
            proyecto">
    </div>
</div>
