app-redessociales{
    float: right;
    margin-top: 25px;
}
    img{
        width: 50px;}
        
        div{
           background-color: blanchedalmond;
           float: right;
           margin: 5px;
        }

