div{
    background-color:rgb(44, 202, 202);
    border-radius:50px;
   }
   
    footer{
        color: #fefefe;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 2px 2px 5px #999;
    }
 
    p{
        color: blanchedalmond;
    }


